*{
    margin: 0px;
    padding: 0px;
}
body {
background-color: #247ba0;
background-image: url(https://wallpaperaccess.com/full/2078996.jpg);
background-size: cover;
text-align: center;
}
.container {
    height: 70%;
     display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.4vmin;
}
.box {
    margin-top: 30px;
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.4);
    font-size: 7vmin;
    color: firebrick;
    background-color :burlywood;
}
h1 {
    color:chartreuse;
    font-size: 5vmin;
}
#reset-btn {
    margin-top: 60px;
    padding: 6px;
    font-size: 1.2rem;
    background-color: brown;
    color: aliceblue;
    border-radius: 8px;
}
#reset-btn:hover {
    background-color: lawngreen;
    color: black;
    cursor: pointer;
}
#new-btn {
    margin-top: 20px;
    padding: 6px;
    font-size: 1.2rem;
    background-color: brown;
    color: aliceblue;
    border-radius: 8px;
}
#new-btn:hover {
  background-color: lawngreen;
    color: black;
    cursor: pointer;
}
#msg {
    color:yellow;
    font-size: 2.7rem;
    font-weight: 400;
    text-shadow: 0px 3px 3px black;
}
.msg-container {
    height: 20vmin;

}
.hide {
    display: none;
}